package pages

import "github.com/brayden-ooi/bookkeeper/internal/view"

templ Dashboard() {
	@view.Layout() {
		@view.Header()
		@view.PageContainer("flex flex-col items-center justify-center") {
			Dashboard
		}
	}
}
