package view

import "github.com/brayden-ooi/bookkeeper/internal/view"

templ SignUp() {
  @view.Layout() {
    @view.Header() {}
    <main class="flex flex-col items-center justify-center h-screen">
      Sign Up page
    </main>
  }
}